body,
html {
  position: center;
  top: -1%;
  left: 38%;
  height: 100%;
  display: grid;
  background: white;
  background-color: #14213d;
  font-family: "Fredoka", sans-serif;
}

#container {
  margin: auto;
  padding: 1em 5em;
  color: #fca311;
  --clay-background: #fca311;
  --clay-border-radius: 48px;
}

p {
  margin: 1em 0 0.75em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff7a;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons .clay {
  padding: 1.25em 4.5em 1.5em;
  --clay-background: rgb(0, 0, 0);
  --clay-border-radius: 21px;
  --clay-shadow-inset-secondary: 8px 8px 16px 0 #ffffff3c;
  color: #e5e5e5;
  font-weight: bold;
  font-size: 1.2em;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.buttons .clay:hover {
  transform: scale(1.025);
  --clay-shadow-outset: 9px 9px 18px 0 #f7af3d;
}


button {
  margin: 0 0 1.25em;
  background: transparent;
  border: 0;
  color: #000000;
  cursor: pointer;
}

.exit{
  position:relative;
  left: 39%;
}