* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #121212;
  cursor: none;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 100;
}
.cursor--large {
  --size: 40px;
  border: 1px solid #ff3c3c;
}
.cursor--small {
  --size: 10px;
  background: #ff3c3c;
  transform: translate(-50%, -50%);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main button {
  --size: 60px;
  border: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.078);
  color: #fff;
  transition: background 200ms ease, color 200ms ease;
  cursor: none;
  
}
main:hover button {
  background: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.04);
}
main:hover button:hover {
  color: #fff;
}

.support {
  position: absolute;
  right: 85%;
  top: 10%;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

.container{
  position: absolute;
  top: 8%;
  background: rgba(243, 236, 236, 0.384);
  border-radius: 25px;
  width: 450px;
  height: 280px;
  display: none;
}

.container_more{
  display: none;
}


.dvMap{
  position: absolute;
  top:5px;
  left: 8px;
  width: 435px; 
  height: 269px;
  border-radius: 25px;
}


.dx{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sx{
  position: relative;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/*-------------weather---------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
}

.container_weather{
  position: absolute;
  top: 15%;
  background: rgba(243, 236, 236, 0.384);
  border-radius: 25px;
  width: 430px;
  height: 230px;
  display: none;
}

.weather-app {
    position: absolute;
    top: 3%;
    left: 7px;
    background: #00000A;
    border-radius: 25px;
}

#weatherImg {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}

.img-fluid {
    width: 100%;
    margin: 0 auto;
}

.d-inline-block {
    display: block;
}
.m-auto {
    margin: 0 auto;
}

/*typography*/
h1 {
    line-height: 55px;
    font-size: 4em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-xs {
    font-size: 10px;
    margin-left: 15px;
}

.text-sm {
    font-size: 13px;
    margin-left: 15px;
}

.text-dark {
    color: #6F708D;
}

.text-darker {
    color: #3A3A49;
}

.text-darkest {
    color: #202644;
}

/*unit toggler */
.toggle-unit {
    color: #202644;
}

.toggle-unit:hover {
    color: #0096FF;
    cursor: pointer;
}

.toggled {
    color: #0096FF;
}

/*grid*/
.flex {
    display: flex;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.flex-col {
    flex-direction: column;
    justify-content: space-between;
}

.align-center {
    align-items: center;
    height: 100%;
}

/*padding*/
.p-md {
    padding: 30px 50px;
}

/*borders*/
.border-bottom {
    border-bottom: 1px solid #202644;
}



/*--------------------camera-----------------------*/
.app {
	position: absolute;	
  top: 2%;
  left: 16px;
	width: 47vw;
	height: 40vh;
}

.app > video {
	width: 27vw;
	height: 37vh;
  border-radius: 25px;
	background: #000;
}

.app > .ActionBlock {
	position: absolute;
	width: 90%;
	max-width: 320px;
	height: 64px;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
}

.ActionBlock > button {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	transition: all 0.15s linear;
}

.ActionBlock > button:hover {
	background: #FFF;
}

.ActionBlock > button > svg {
	width: 24px;
	height: 24px;
	transition: all 0.15s linear;
	fill: #FFF
}

.ActionBlock > button:hover > svg {
	fill: #555;
}

.Settings {
	float: left;
	margin-left: 5%;
	margin-top: 8px;
}

.TakePicture {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 8px;
	margin: auto;
}

.ChangeDevice {
	float: right;
	margin-top: 8px;
	margin-right: 5%;
}

.SettingsBlock {
	position: absolute;
	bottom: -51%;
	left: 0;
	right: 0;
	width: calc(100% - 40px);
	max-width: 320px;
	height: calc(50% - 40px);
	padding: 20px;
	margin: auto;
	background: #FFF;
	transition: all 0.13s linear;
	border-radius: 15px 15px 0px 0px;
}


/*-------------- greenpass-----------------*/

.container_greenpass{
  position: absolute;
  top: 10%;
  background: rgb(252, 252, 252);
  border-radius: 25px;
  width: 430px;
  height: 260px;
  display: none;
}


/*-------------------------------------------*/
#snackbar {
  position: relative;
  top: 12%;
    visibility: hidden; 
    min-width: 23px; 
    margin-left: -130px; 
    color: #fff; 
    text-align: center; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}

.show {
    visibility: visible !important; 


    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.button_gp{
  position: absolute;
  top: 0%;
  left: 33%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: solid rgb(255, 255, 255);
  border-radius: 5px;

}

.btn_greenpass{
  position: absolute;
  top: 2%;
  left: 5px;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  background: #e0e5ec;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 26px;
  color: #666;
  text-decoration: none;
}
.btn_greenpass:hover{
background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
  color: rgba(102,102,102,.5); 
  animation: colorchange 3s linear infinite;
}
.btn_greenpass:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    border-radius: 25px;
}

@keyframes colorchange {
	to {filter: hue-rotate(360deg);}
}

.tap{
  height: 25px;
}

/*----------------Logo------------------*/

.logo{
  position: absolute;
  top: -8%;
  left: 87%;
  border-radius: 50%;
  height: 210px;
}


/*----------------More------------------*/

.sx_more{
  position: absolute;
  top: 56%;
  left: 57%;
  --size: 60px;
  border-radius: 45px;
  border: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background:#f3ecec26;
  color: #fff;
  transition: background 200ms ease, color 200ms ease;
  cursor: none;
}

.dx_more{
  position: absolute;
  top: 36%;
  left: 57%;
  --size: 60px;
  border-radius: 45px;
  border: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background:rgba(243, 236, 236, 0.149);
  color: #fff;
  transition: background 200ms ease, color 200ms ease;
  cursor: none;
}

.cc_more{
  position: absolute;
  top: 46%;
  left: 60%;
  --size: 60px;
  border-radius: 45px;
  border: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background:rgba(243, 236, 236, 0.149);
  color: #fff;
  transition: background 200ms ease, color 200ms ease;
  cursor: none;
}

.its{
  position: absolute;
  top: 44%;
  left:913px;
  border-radius: 50%;
  height: 90px;
}





